.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

.Rdata
.httr-oauth
.DS_Store
/dont_push/

some_data.csv
some_data.parquet

1996_Tanzania_DHS.pdf

Telling-Stories-with-Data.pdf
Telling-Stories-with-Data.tex
Telling-Stories-with-Data.toc

a_million_random_digits.csv
a_million_random_digits.parquet

/publisher/