.form-foundation label {
    font-size: 1.4rem !important;
}

.formbuilder-form .clear {
    clear: both;
}

.formbuilder-popup {
    display: none;
}

.field-section-break {
    position: relative;
}

.field-section-break .sm-section-break {
    position: relative;
    text-align: center;
}

.field-section-break .sm-section-break:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: -moz-radial-gradient(center, ellipse cover, #fff 25%, #cecece 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(25%, #fff), color-stop(100%, #cecece));
    background: -webkit-radial-gradient(center, ellipse cover, #fff 25%, #cecece 100%);
    background: -ms-radial-gradient(center, ellipse cover, #fff 25%, #cecece 100%);
    background: radial-gradient(ellipse at center, #fff 0%, #cecece 100%);
    position: absolute;
    top: 50%;
    z-index: -1;
}

.field-section-break .sm-section-break span {
    background: #FFF;
    padding: 0 20px;
    font-size: 1.5em;
    padding: 0;
    top: -15px;
    margin: 0;
}

.formbuilder-form .ves-rating-play img {
    display: inline;
}

.formbuilder-form .workflow_table th, .formbuilder-form .workflow_table td {
    padding-bottom: 10px;
    padding-right: 15px;
}

.formbuilder-form .calendar {
    z-index: 99999
}

.formbuilder-form .response-field-draggable-helper {
    border: 1px dashed #ddd;
    background: #eee
}

.formbuilder-form .response-field-text input.rf-size-small {
    width: 130px
}

.formbuilder-form .response-field-text input.rf-size-medium {
    width: 300px
}

.formbuilder-form .response-field-text input.rf-size-large {
    width: 100%
}

.formbuilder-form .response-field-paragraph textarea.rf-size-medium {
    width: 400px;
    min-height: 100px
}

.formbuilder-form .response-field-paragraph textarea.rf-size-large {
    width: 100%;
    min-height: 200px
}

.formbuilder-form .response-field-date .month,.response-field-date .day,.response-field-date .year {
    width: 50px
}

.formbuilder-form .response-field-time .hours,.response-field-time .minutes,.response-field-time .seconds {
    width: 50px
}

.formbuilder-form .response-field-checkboxes .fb-option,.response-field-radio .fb-option {
    margin-bottom: 5px;
    display: inline-block
}

.formbuilder-form .response-field-website input {
    width: 200px
}

.formbuilder ul {
    padding: 0;
    margin: 0;
}

.formbuilder li {
    list-style: none;
}

.formbuilder .required em {
    color: #f00;
}

.response-field-time select {
    width: auto
}

.formbuilder input, .formbuilder select {
    width: auto;
}

.formbuilder .input-line {
    clear: both;
    margin-bottom: 10px;
}

.formbuilder .subtemplate-wrapper > label {
    display: block;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.response-field-address .street input {
    width: 100%
}

.response-field-address .city, .response-field-address .state {
    display: inline-block
}

.response-field-address input {
    width: 100%
}

.formbuilder .country select,.formbuilder .state select {
    width: 100%
}

.response-field-google_map .form-group input {
    width: 100%
}

.response-field-price .form-input input, .response-field-email .input-box input, .response-field-website .input-box input, .response-field-number .input-box input, .response-field-dropdown .input-box select, .response-field-date .input-box input, .response-field-text input, .response-field-paragraph textarea {
    width: 100%;
}

.formbuilder-form .form-list .field {
    margin-bottom: 10px;
    min-height: 60px;
}

.formbuilder label {
    font-weight: normal;
}

@media only screen and (max-width: 599px) {
    .workflow_table colgroup, .workflow_table thead {
        display: none;
    }

    .workflow_table tr {
        display: block;
        margin-bottom: 10px;
        padding-bottom: 10px;
        position: relative;
        width: 100%;
    }

    .workflow_table tr:after {
        content: '';
        display: block;
        clear: both;
    }

    .workflow_table tr:after:before, .workflow_table tr:after:after {
        content: " ";
        display: table;
    }

    .workflow_table tr:after:after {
        clear: both;
    }

    .workflow_table tr:last-child {
        margin-bottom: 0;
    }

    .workflow_table tfoot tr {
        padding-bottom: 0;
    }

    .workflow_table td {
        border: none;
        display: block;
    }

    .workflow_table td[data-rwd-label] {
        padding-left: 15px;
        margin-bottom: 6px;
    }

    .workflow_table td[data-rwd-label] .price {
        font-weight: normal;
    }

    .workflow_table td[data-rwd-label]:before {
        content: attr(data-rwd-label) ":";
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        padding-right: 5px;
        text-transform: uppercase;
    }

    .workflow_table td.product-cart-price {
        text-align: left;
    }
}

.fancybox-inner {
    overflow-x: hidden !important;
}

.formbuilder-loading.ajax-loading {
    background: rgba(0, 0, 0, 0) url("image/ajax-loader.gif") repeat scroll center center;
    height: 30px;
    left: 50%;
    position: fixed;
    top: 50%;
    width: 30px;
    z-index: 9999;
}

.subtemplate-wrapper .form-field-icon {
    position: absolute;
    right: 0;
    top: 0;
    cursor: text;
    line-height: 1.4em;
    font-size: 1.05em;
    color: inherit;
    background-color: transparent;
    padding: 7px 10px 0 0;
}

.subtemplate-wrapper .input-text, .subtemplate-wrapper .input-box {
    position: relative;
}

.response-field-section_break .subtemplate-wrapper {
    height: 100%;
    margin: 0;
}

.response-field-section_break .field-section-break span {
    background: #fff none repeat scroll 0 0;
    padding: 0 10px;
    text-align: center;
}

.ratings-table .rating.small {
    position: relative;
}

.star.on {
    float: left;
    background-image: url("image/rating/star-on.png");
    background-position: left 2px;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.formbuilder-row .title {
    font-size: 18px;
    font-weight: 700;
}

.value-formbuilder-attr.description {
    padding: 10px 0;
}

.formbuilder-container .formbuilder-row {
    margin-bottom: 30px;
    padding: 15px 0;
}

.box-formbuilder .info {
    color: #f1703d;
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.box-formbuilder .info {
    color: #f1703d;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.box-formbuilder .info .lable {
    color: #bbb;
    font-size: 12px;
    font-weight: 400;
}

.formbuilder-form.animation {
    position: fixed;
    top: 100px;
    transition: all 0.6s;
    border: solid 1px #CCC;
    -webkit-box-shadow: 1px -1px 3px #888888;
    box-shadow: 1px -1px 3px #888888;
    z-index: 9999;
    background-color: #fff;
    padding: 0px 15px 10px;
}

.formbuilder-form.animation.animation-right {
    -webkit-box-shadow: 1px -1px 3px #888888;
    box-shadow: none;
    border-left: 0;
    box-shadow: -1px 1px 3px #888888;
}

.formbuilder-form.animation.animation-right .panelbutton {
    border-right: 0px;
}

.formbuilder-form .panelbutton {
    border: solid 1px #CCC;
    background: #FFF;
    padding: 2px 12px;
    position: absolute;
    right: -52px;
    top: 100px;
    border-left: none;
    cursor: pointer;
    font-size: 2em;
}

.formbuilder-form.animation.animation-right .panelbutton {
    left: -52px;
    right: auto;
    border-radius: 3px 0 0 3px;
}

.formbuilder-form .panelbutton:before {
}

.formbuilder-form .panelbutton {
    background: #1979c3
}

.formbuilder-form.animation.animation-left.active {
    left: 0px !important;
    transition: all 0.6s;
}

.formbuilder-form.animation.animation-right.active {
    right: 0px !important;
    transition: all 0.6s;
}

.formbuilder-form.animation .form-content {
    overflow-y: auto;
    overflow-x: hidden;
}

.formbuilder-messages ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.formbuilder-messages ul li {
    margin-bottom: 2rem
}

.formbuilder-form .form-content > h2 {
    text-align: center
}

.form-list > .field {
    position: relative;
}

.subtemplate-wrapper .columns > label {
    font-weight: bold;
}

.subtemplate-inner {
    position: relative;
}
.formbuilder-form .formbuilder-button.button{
    border: 0
}
.formbuilder-form .g-recaptcha {
    margin: 10px 0;
}
.form-fieldtype-price .form-currency{
   position: absolute;
   top: 20%;
   z-index: 9;
   left: 2%;
}
.form-fieldtype-price .input-box {
    position: relative;
    float: left;
    width: 100%;
}
.form-fieldtype-price .input-box input{
    padding-left: 30px;
}

.formbuilder-form .form-list .field.hidden {
    display: block !important;
    clear: both;
    height: 1px;
    visibility: hidden;
    line-height: 1px;
    margin-bottom: 0;
    min-height: 0;
}
.formbuilder-form .form-list .row{
    margin-bottom: 5px;
    margin-left: -15px;
    margin-right: -15px;
}